<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/70d1544551.js" crossorigin="anonymous"></script>

</head>
<body>
  <div id="particles-js">
    <div class="mainContent">
      <div class="profileContent">
        <img src="https://cdn.discordapp.com/avatars/501514913026408448/0518ebf5cb6631bed4b89477d338f6ae?size=1024" style="width: 100px; height: 100px; border-radius: 100%; position: absolute"></img>
        <h1 style="position: absolute; top: 0px; left: 150px;">MythicalRev</h1>
        <p style="position: absolute; top: 50px; left: 151px;">Developer</p>
        <div class="icons" style="position: absolute; top: 110px; left: 151px;">
          <a href="https://github.com/MythicalRev" class="fa-brands fa-github fa-2xl" style="color: white; text-decoration: none;"></a>
          <a href="https://discord.com/users/501514913026408448" class="fa-brands fa-discord fa-2xl" style="color: white; text-decoration: none;"></a>
          <a href="https://www.youtube.com/@mythicalrev" class="fa-brands fa-youtube fa-2xl" style="color: white; text-decoration: none;"></a>
          <a href="https://www.twitch.tv/mythicalrev02" class="fa-brands fa-twitch fa-2xl" style="color: white; text-decoration: none;"></a>
        </div>
      </div>

      <div class="currentProjects">
        <h1 style="position: absolute;">Current Projects</h1>
      </div>
  </div>

  <script src="/scripts/particles.js"></script>
  <script src="/scripts/script.js"></script>
</body>