<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/70d1544551.js" crossorigin="anonymous"></script>

</head>
<body>
  <div id="particles-js">
    <div class="mainContent">
      <div class="profileContent">
        <img src="https://cdn.discordapp.com/avatars/501514913026408448/0518ebf5cb6631bed4b89477d338f6ae?size=1024" style="border-color: rgb(196, 196, 196, 0.5); border-width: 1px; border-style: solid; width: auto; height: auto; aspect-ratio: 1 / 1; border-radius: 100%;"></img>
        <div class="userContent">
          <h1>MythicalRev</h1>
          <p>Developer</p>
          <div class="icons">
            <a href="https://github.com/MythicalRev" class="fa-brands fa-github icon"></a>
            <a href="https://discord.com/users/501514913026408448" class="fa-brands fa-discord icon"></a>
            <a href="https://www.youtube.com/@mythicalrev" class="fa-brands fa-youtube icon"></a>
            <a href="https://www.twitch.tv/mythicalrev02" class="fa-brands fa-twitch icon"></a>
          </div>
        </div>
      </div>

      <div class="currentProjects">
        <h1>Current Projects</h1>
        <br>
        <h1 style="font-size: medium;">Roblox Delving Game (UNNAMED)</h1>
        <a><button disabled class="visit">Visit</button></a>
        <hr>
        <h1 style="font-size: medium;">This Website</h1>
        <a href=""><button class="visit">Visit</button></a>
      </div>
  </div>

  <script src="/scripts/particles.js"></script>
  <script src="/scripts/script.js"></script>
</body>